* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: Fira sans;
}
.container {
    width: 100%;
    height: 800px;
}
.title {
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-align: center;
    line-height: 50px;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 40px;
}
.content {
    width: 100%;
    height: 750px;
}
form {
    width: 100%;
    height: 100%;
}
table {
    width: 100%;
}
table tr:first-child {
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #999;
}
table tr:last-child td:first-child {
    width: 50px;
}
table tr:last-child td:nth-child(2) {
    width: 140px;
}
table tr:last-child td:nth-child(3) {
    width: 130px;
}
table tr:last-child td:nth-child(4) {
    width: 290px;
}
table tr:last-child td:nth-child(5) {
    width: 290px;
}
table tr:last-child td:nth-child(6) {
    width: 250px;
}
table tr:last-child td:nth-child(7) {
    width: 130px;
}
table tr:last-child td:nth-child(8) {
    width: 130px;
}
table tr {
    width: 100%;
    height: 40px;
    text-align: center;
}
.btn-confirm{
    width: 200px;
    height: 30px;
    border: lightseagreen;
    background-color: lightseagreen;
    border-radius: 5px;
    font-weight: bold;
}
.btn-cancel {
    width: 200px;
    height: 30px;
    border: tomato;
    background-color: tomato;
    border-radius: 5px;
    font-weight: bold;
}
.btn-delete {
    width: 200px;
    height: 30px;
    background-color: crimson;
    border: crimson;
    border-radius: 5px;
    font-weight: bold;
}
.return-homepage{
    width: 100%;
    height: 50px;
}
.link-return{
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: lightseagreen;
    margin-left: 30px;
}