* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: Fira sans;
}
.container {
    width: 100%;
    height: 800px;
}
.cart-title {
    width: 40%;
    height: 60px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    margin-top: 40px;
    border-radius: 10px;
}
.frm-info-cus {
    margin-top: 30px;
    width: 800px;
    height: 400px;
    border: 2px solid #000;
    border-radius: 5px;
}
/* BẢNG THÔNG TIN KHÁCH HÀNG */

.form-field{
    margin-top: 30px;
    position: relative;
    margin-left: 460px;
}
.info-ipt-name{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-name{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-name:not(:placeholder-shown) + .info-lb-name,
.info-ipt-name:focus + .info-lb-name {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-email{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-email{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-email:not(:placeholder-shown) + .info-lb-email,
.info-ipt-email:focus + .info-lb-email {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-creditnum{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-creditnum{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-creditnum:not(:placeholder-shown) + .info-lb-creditnum,
.info-ipt-creditnum:focus + .info-lb-creditnum {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-name{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-name{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-name:not(:placeholder-shown) + .info-lb-name,
.info-ipt-name:focus + .info-lb-name {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-phone{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-phone{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-phone:not(:placeholder-shown) + .info-lb-phone,
.info-ipt-phone:focus + .info-lb-phone {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}

.info-ipt-type{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-type{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-type:not(:placeholder-shown) + .info-lb-type,
.info-ipt-type:focus + .info-lb-type {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}

.info-ipt-note{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-note{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-note:not(:placeholder-shown) + .info-lb-note,
.info-ipt-note:focus + .info-lb-note {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-bank{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-bank{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-bank:not(:placeholder-shown) + .info-lb-bank,
.info-ipt-bank:focus + .info-lb-bank {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
.info-ipt-address{
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 600px;
    transition: .25s ease;
    font-size: 15px;
}
.info-lb-address{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    color: #888;
    transition: .25s ease;
}
.info-ipt-address:not(:placeholder-shown) + .info-lb-address,
.info-ipt-address:focus + .info-lb-address {
    color: #000;
    top: 0;
    padding: 10px;
    display: inline-block;
    background-color: #fff;
}
/* -------------------------------------------------------------------- */
.cart {
    width: 100%;
    height: 700px;
}
.cart-tbl {
    width: 1200px;
    margin-top: 50px;
}
tr:first-child {
    width: 1200px;
    background-color: darkgrey;
    text-align: center;
    height: 40px;
    font-weight: bold;
}
tr {
    width: 1200px;
    text-align: center;
    height: 40px;
}
.btn-add-cart {
    width: 250px;
    height: 30px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 40px;
    cursor: pointer;
}
.btn-addmore-pd {
    width: 300px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 50px;
}
.btn-addmore-pd a {
    text-decoration: none;
    color: #000;
}
.btn-del-cart {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: lightcoral;
    font-weight: bold;
    border-radius: 5px;
}
.submit-buy {
    width: 100%;
    height: 50px;
    margin-top: 40px;
}
.btn-submit-buy {
    width: 200px;
    height: 40px;
    background-color: lightseagreen;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.line {
    width: 80%;
    height: 5px;
    background-color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}